* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.title {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.title>h1 {
    color: rgb(183, 108, 178);
}

.body>* {
    display: inline-block;
    width: 33%;
}

.secondcolumn {
    border-style: solid;
}