/* Nermin Beyzanur Evcen
20070915 */

/* In my whole page i give border-box: box sizing to avoid overlapping gaps when i use padding. */
* {
    box-sizing: border-box;
}

/*Colors for my website */
:root {
    --light-blue: #DEF4FF;
    --light-purple: #C9D6F1;
    --dark-white: #e2ebf3;
    --background-color: #f2f5f8;
    --white: #ffffff;

}

/*For body part I set the general properties I will use for the whole website*/

body {
    font-size: 15px;
    line-height: 1.5;
    background-color: var(--background-color);

}

/*I gave margin for my all-encompassing div*/

.container {
    margin-top: 1rem;
    margin-left: 36px;
    margin-right: 36px;

}


/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .title {
    display: flex;
}

header .description {
    width: 400px;
    text-align: center;
    font-weight: 700;

}

/*navbar*/

nav {
    flex: 1;
    display: flex;
    gap: 24px;
    color: black;
    font-weight: 700;

}

/*For texts in navbar I remove the bottom line like that*/

a {
    text-decoration: none;
    color: inherit;
}


/*Main*/

main {
    margin-top: 48px;
    gap: 24px;
}

main .main-body-area {
    display: flex;
    flex-direction: row;
    gap: 36px;
    /* height: 100vh; */
}




/*stocked-market*/
/* I used flex to stabilize section's position */
section#stocked-market {
    flex: 1;

}

section#stocked-market .market-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0.5;
}

section#stocked-market .market-item .market-item-main {
    display: flex;
    align-items: center;
    gap: 10px;
}

section#stocked-market .market-item .market-item-sale {
    display: flex;
    align-items: center;

    gap: 10px;

}

/*news-body*/
/* In my news body section i give flex:2 because I want this section to be bigger than the others. */
section#news-body {
    flex: 2;
    padding-left: 16px;
    padding-bottom: 16px;
    border-style: ridge;
    border-color: var(--light-blue);
    border-radius: 12px;


}

section#news-body button {
    background-color: var(--light-blue);
    border-radius: 12px;
    border-color: var(--light-blue);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px;
}

section#news-body .form .form-button {
    background-color: var(--light-purple);
    border-radius: 12px;
    border-color: var(--light-blue);
    height: 28px;
    width: 147px;

}


/*User and applications*/

section#user-and-applications {
    flex: 1
}

section#user-and-applications .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}

section#user-and-applications .user .user-profile {
    display: flex;
    flex-direction: row;

}

section#user-and-applications .user button {
    background-color: var(--light-purple);
    border-radius: 12px;
    border-color: var(--light-purple);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 32px;

}



section#user-and-applications .user img {
    max-height: 100px;
    padding-right: 16px;
}

section#user-and-applications .application-item {
    border-style: solid;
    border-color: var(--dark-white);
    border-radius: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
    background-color: white;

}

section#user-and-applications .application-item img {
    max-height: 100px;
    padding: 10px 30px 0px 0px;

}

section#user-and-applications .application-item p {
    padding-right: 32px;

}

/*Products and Services*/

section#products-and-services .services-body {
    margin-top: 24px;
    padding: 16px 0px 16px;
    gap: 120px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

section#products-and-services .services-body .services-item {
    border-style: solid;
    border-color: var(--dark-white);
    border-radius: 16px;
    background-color: white;

}

section#products-and-services .services-item img {
    max-height: 160px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

/* Footer style  */

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    margin-top: 36px;
}

/* For making responsive this page i use media query */
@media only screen and (max-width: 750px) {
    main .main-body-area {
        display: flex;
        flex-direction: column;
        gap: 36px;
        /* height: 100vh; */
    }

    @media only screen and (max-width: 750px) {
        section#products-and-services .services-body {
            margin-top: 24px;
            padding: 16px 0px 16px;
            gap: 120px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
        }

        body {
            font-size: 10px;
        }
    }
}